@using PresentationLayer.Models

@model PresentationLayer.Models.Directorys.DirectoryViewModel
<!-- entry-header -->
<header class="entry-header">

    <h1 class="entry-title">@Model.Directory.Title</h1>

    <!--FILTERS-->
    <ul id="filters" class="filters">
        <li class="current"><a href="#" data-filter="*">ALL</a></li>
        @foreach (var item in Model.Materials)
        {
            <li class=""><a href="#" data-filter=".@item.Key.ToLowerInvariant()">@item.Key.ToUpperInvariant()</a></li>
        }
    </ul>
    <!--FILTERS-->
</header>
<!-- entry-header -->
<!-- .media-grid-wrap -->
<div class="media-grid-wrap">
    <!-- PORTFOLIO -->
    <div class="portfolio media-grid masonry" data-layout="masonry" data-item-width="360">
        @foreach (var item in Model.Materials)
        {
            @foreach (var subItem in item.Value)
            {
                <!-- portfolio-item -->
                <div class="media-cell @subItem.Material.Category.ToLowerInvariant() hentry">
                    <div class="media-box">
                        <img src="@subItem.Material.smallPreview" alt="@subItem.Material.Title preview">
                        <div class="mask"></div>
                        <a asp-action="PortfolioItem" asp-controller="Portfolio" asp-route-itemId="@subItem.Material.Id"></a>
                    </div>

                    <div class="media-cell-desc">
                        <h3>@subItem.Material.Title</h3>
                        <p class="category">@subItem.Material.Category</p>
                    </div>

                </div>
                <!-- portfolio-item -->
            }
        }
    </div>
    <!-- PORTFOLIO -->


</div>
<!-- .media-grid-wrap -->
<!-- InstanceEndEditable -->
