@using PresentationLayer.Models

@model PresentationLayer.Models.Directorys.MaterialPageViewModel

<!-- .hentry -->
<article class="hentry type-portfolio">
    <header class="entry-header">
        <h1 class="entry-title">@Model.Material.Material.Title</h1>
        <!-- HEADER LINKS -->
        <ul class="header-links">
            <li><a asp-action="Index" asp-controller="Portfolio"><i class="pw-icon-level-up"></i> Back to Portfolio</a></li>
        </ul>
        <!-- HEADER LINKS -->
    </header>

    <!-- .entry-content -->
    <div class="entry-content">
        <p>@Model.Material.Material.SeoDescription</p>
        <!-- row -->
        @*<div class="row">
                <!-- column 6/12 -->
                <div class="col-sm-6">
                    <h2 class="section-title">Launch Project</h2>
                    <p><a class="button" target="_blank" href="">Launch Project</a></p>
                </div>
                <!-- column 6/12 -->
                <!-- column 6/12 -->
                <div class="col-sm-6">
                    <h2 class="section-title">Client</h2>
                    <p>Wordpress Users</p>
                </div>
                <!-- column 6/12 -->
            </div>*@
        <!-- row -->
        <p>
            @Html.Raw(@Model.Material.Material.PageHtml)
        </p>


    </div>
    <!-- .entry-content -->
    <!-- .nav-single -->
    <nav class="nav-single row">
        @if (Model.PrevMaterialPage != null)
        {
            <div class="nav-previous col-sm-6">
                <h4>@Model.PrevMaterialPage.CallToAction</h4>
                <a asp-action="PortfolioItem" asp-controller="Portfolio" asp-route-itemId="@Model.PrevMaterialPage.EntityId" rel="prev"><span class="meta-nav">←</span> @Model.PrevMaterialPage.Title</a>
            </div>
        }
        @if (Model.NextMaterialPage != null)
        {
            <div class="nav-next col-sm-6">
                <h4>@Model.NextMaterialPage.CallToAction</h4>
                <a asp-action="PortfolioItem" asp-controller="Portfolio" asp-route-itemId="@Model.NextMaterialPage.EntityId" rel="next"><span class="meta-nav">→</span> @Model.NextMaterialPage.Title</a>
            </div>
        }
    </nav>
    <!-- .nav-single -->
</article>
<!-- .hentry -->
